body{
	background-image: url("images/bg.png");
}

nav{
	background-color: rgb(108, 117, 125, .4)!important;
}

.logo{
	background-color:transparent; 
	border: none;
	height: 70;
	width: 70;
}

a{
	text-decoration: none !important;;
}

.dateTable{
	width: 65%;
	table-layout: fixed;
}

.dateTable td{
	word-wrap:break-word;
}

.content{
	margin-top: 140px;
}

textarea{
	resize: none;
	height: 150;
}

.addForm{
	color: white;
	width: 40%;
	border-radius: 25px;
	background-color: rgb(30, 37, 41, .5);
}

input[type="checkbox"]{
	height: 40px;
}

input[type="checkbox"]:focus{
	box-shadow:none !important;
}

.currentSong{
	list-style:disc;
	color: green;
	
}